$sandBg: #FEF5DE;
$blueBg: #1a3255;
$colorTextSand: #FEF5DE;
$heroBannerBg: rgba(84, 83, 83, 0.29);
$aboutUsHeading: #9E5C37;
$servicesColor: #48200F;
$cardColorText: #2D4C69;
$photoPagination: #41210F;
$additionalInfo: rgba(45, 76, 105, 0.75);

//#4D929F