@mixin fonts($font-family, $srcWoff, $fw, $fd, $fs) {
  @font-face {
    font-family: $font-family;
    src: $srcWoff;
    font-weight: $fw;
    font-display: $fd;
    font-style: $fs;
  }
}

@include fonts('OpenSans', url(../fonts/OpenSans-Light.ttf), 300, swap, normal); // Light
@include fonts('OpenSans', url(../fonts/OpenSans-Regular.ttf), 400, swap, normal); // Regular
@include fonts('OpenSans', url(../fonts/OpenSans-SemiBold.ttf), 600, swap, normal); // SemiBold

@include fonts('OpenSansCondensed', url(../fonts/OpenSans_Condensed-Regular.ttf), 400, swap, normal); // Regular

@include fonts('NunitoItalic', url(../fonts/Nunito-LightItalic.ttf), 300, swap, normal); // LightItalic

@include fonts('Nunito', url(../fonts/Nunito-Regular.ttf), 400, swap, normal); // Regular
@include fonts('Nunito', url(../fonts/Nunito-Medium.ttf), 500, swap, normal); // Medium
@include fonts('Nunito', url(../fonts/Nunito-SemiBold.ttf), 600, swap, normal); // SemiBold

body {
  font-family: 'OpenSans', sans-serif;
}

.nunito-fonts {
  font-family: 'Nunito';
}