html,
body {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1660px;
}

.call-svg {
  position: absolute;
  width: 28px;
  height: 28px;
  left: -40px;
}

.star-svg {
  width: 32px;
  height: 32px;
  fill: #9C411B;
}

.whatsapp-svg {
  width: 30px;
  height: 30px;
}

.button-prev {
  content: 'prev';
}

.tel {
  text-decoration: transparent;
  transition: text-decoration .3s ease-in;
}

.tel:hover {
  text-decoration: underline;
}

.heading-section {
  font-size: 48px;
  text-transform: uppercase;
}

@media (max-width: 1200px) {
  .call-svg {
    display: none;
  }
}

@media (max-width: 768px) {
  .heading-section {
    font-size: 28px;
  }

  .whatsapp-svg {
    width: 20px;
    height: 20px;
  }

  .call-svg {
    width: 22px;
    height: 22px;
  }
}

@media (max-width: 576px) {
  .heading-section {
    font-size: 22px;
  }
}

body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-track {
  background: #fef5dea8;
}
body::-webkit-scrollbar-thumb {
  background-color: #1a3255e3;
  border-radius: 20px;
  border: 1px solid #2D4C69;
}